<h2>Аннуитетная схема</h2>
<h4>Ежемесячный платеж:</h4>
<p><%= @annspm %></p>
<h4>Переплата:</h4>
<p><%= @annover%></p>
<form action="/" method="get">
<input value = "Калькулятор" type="submit">
</form>
