<h2>Стандартная схема</h2>
<h4>Ежемесячный платеж (максимальный):</h4>
<p><%= @diffmaxspm %></p>
<h4>Плата за пользование кредитом (в %):</h4>
<p><%= @diffcu%></p>
<h4>Переплата:</h4>
<p><%= @diffover%></p>
<form action="/" method="get">
<input value = "Калькулятор" type="submit">
</form>
